.content-section{
    position:relative;
}
ul.container{
    position:relative;
}
.content-section ul:before{
    content:"";
    display:block;
    position:absolute;
    left:50%;
    margin-left:-2px;
    padding:20px 0;
    width:3px;
    height:100%;
    background-color:#ccc;
}
ul.container .resumebox{
    position:relative;
    margin-bottom:30px;
    width:50%;
}

ul.container .resumebox:nth-child(even) {
    margin-left:50%;
}

.resumebox .box{
    margin: 0px 100px 0px;
    padding:40px;
    line-height:1.5;
}
.resumebox .box h2{
    letter-spacing:4px;
    margin-bottom:10px;
}
.resumebox .box .cate{
    color:#999;
}
.resumebox .box span{
    position:absolute;
    top:20px;
    right:150px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow:3px 3px 5px 0 rgba(0,0,0,0.15);
    color:#ff014f;
    padding:10px 20px;
    border-radius:10px;
}
.resumebox .box hr{
    margin-top:10px;
    margin-bottom:10px;
}
.resumebox .box:hover{
    background:#fbabc3;
    color:#fff;
    transition: 400ms;
}

.resumebox .btn-shadow{
    box-shadow: 4px 4px 8px rgba(0,0,0,0.1),
    4px -4px 8px rgba(255,255,255,1); 
    background-color:#f0f4f8;
    border-radius:15px;
}
.resumebox:after{
    content:"";
    top:50%;
    width:95px;
    height:3px;
    background:#ccc;
    position:absolute;
}
.resumebox:nth-child(odd):after{
    right:0;
}